@import url("../../styles/globals.css") layer(base);

.hover-zoom-on {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.hover-zoom-off {
    transform: scale(1);
    transition: transform 0.3s ease;
}

.hover-background-shining-on {
    background: hsl(var(--secondary)) !important;
    transition: all 0.3s ease;
}

.hover-background-shining-off {
    background: hsl(var(--card)) !important;
    transition: all 0.3s ease;
}